:root {
  --green: #80ac7b;
  --red: #e8505b;
  --blue: #e1f4f3;
  --white: #ffffff;
  --black: #333333;
}

.addButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.topContainer {
  margin-top: 0;
  background-color: var(--blue);
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  position: relative;
}

.title {
  font-family: "Pacifico", cursive;
  margin: 2rem;
  font-size: 2.5rem;
  color: var(--black);
  display: inline;
}

.statusCard {
  background-color: var(--blue);
  border-radius: 1rem;
  flex: 1;
  margin: 0.5rem;
}

.statusValue {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-left: 0.5rem;
  margin: 0.2rem 0.2rem 0.2rem 0.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--black);
}

.statusContanier {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.statusDescription {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0.2rem 0.2rem 0.2rem 0.5rem;
  padding-left: 0.5rem;
  color: var(--black);
}

.scrollView {
  overflow: auto;
  white-space: nowrap;
  margin: 1rem;
}

.transactionCard {
  height: 15rem;
  width: 25rem;
  background-color: var(--white);
  margin: 1rem;
  border-radius: 1rem;
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
