:root {
  --green: #80ac7b;
  --red: #e8505b;
  --blue: #e1f4f3;
  --white: #ffffff;
  --black: #333333;
  --font: Helvetica, Arial;
}

.addButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.topContainer {
  margin-top: 0;
  background-color: var(--blue);
  padding: 2rem;
  border-radius: 0 0 1rem 1rem;
  position: relative;
}

.title {
  font-family: "Pacifico", cursive;
  margin: 1rem;
  font-size: 2.5rem;
  color: var(--black);
  display: inline;
}

.statusCard {
  background-color: var(--blue);
  border-radius: 1rem;
  flex: 1;
  margin: 0.5rem;
  padding: 0.5rem;
  opacity: 0.85;
}

.statusValue {
  font-family: var(--font);
  margin: 0.2rem 0.2rem 0.2rem 0.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--black);
}

.statusContanier {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  overflow: auto;
  white-space: nowrap;
}

.statusDescription {
  font-family: var(--font);
  margin: 0.2rem 0.2rem 0.2rem 0.5rem;
  color: var(--black);
  font-weight: 600;
  font-size: 1.2rem;
}

.scrollView {
  overflow: auto;
  white-space: nowrap;
  margin: 2rem 1rem 2rem 1rem;
}

.transactionCard {
  height: 14rem;
  width: 20rem;
  background-color: var(--white);
  margin: 1rem;
  border-radius: 1rem;
  display: inline-block;
  padding: 0;
  text-decoration: none;
  opacity: 0.8;
  position: relative;
}

.dateTransactionCard {
  background-color: var(--green);
  font-family: var(--font);
  height: 2rem;
  border-radius: 1rem 1rem 0 0;
  text-align: left;
  padding-left: 0.5rem;
  padding-top: 0.1rem;
  opacity: 0.8;
  font-weight: 500;
  font-size: 1.3rem;
}

.categoryTransactionCard {
  font-family: var(--font);
  font-weight: 600;
  font-size: 1.75rem;
  color: var(--black);
}

.descriptionTransactionCard {
  font-family: var(--font);
  font-weight: lighter;
  word-wrap: break-word;
  width: 100%;
  white-space: pre-wrap;
  margin-top: 0.5rem;
}

.valueTransactionCard {
  position: absolute;
  bottom: 0.5rem;
  font-weight: 400;
  font-size: 1.75rem;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.buttonsTransactionCard {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.selectPeriod {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 0.5rem 0;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

.select {
  margin: 0.5rem;
  font-family: var(--font);
  width: 5rem;
}
